{% extends "layout.html" %}
{% block content %}

<div class="tweet-grid">
    {% for tweet in tweets %}
    <div class="tweet-card">
        {% if tweet.image %}
        <img src="{{ tweet.image.url }}" alt="Tweet Image">
        {% endif %}
        <div class="tweet-text">{{ tweet.tweet }}</div>
        <div class="tweet-buttons">
            {% if  tweet.user == request.user %}
            
            

            <a href="{% url 'edit_tweet' tweet.pk %}" class="edit-btn">Edit</a>
            <a href="{% url 'tweet_delete' tweet.pk %}" class="delete-btn">Delete</a>
            {% endif %}
        </div>
    </div>
    {% empty %}
    <p>No tweets yet.</p>
    {% endfor %}
</div>

{% endblock %}
